/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

/* WS281x PWM */
    fragment@100 {
        target = <&gpio>;
        __overlay__ {
            pwm_pins: pwm_pins {
                brcm,pins = <12 13>;
                brcm,function = <4 4>; /* Alt0 */
            };
        };
    };

    fragment@101 {
        target = <&pwm>;
        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&pwm_pins>;
            assigned-clock-rates = <100000000>;
            status = "okay";
        };
    };

    fragment@102 {
        target-path = "/";
        __overlay__ {
            ws281x-transmitter {
                compatible = "leds,ws281x";
                pwms = <&pwm 0 100>;
            };
        };
    };

/* I2C RTC */
    fragment@200 {
        target = <&i2c1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            ds3231@68 {
                compatible = "maxim,ds3231";
                reg = <0x68>;
            };
        };
    };

/* LEDs */
    fragment@300 {
        target-path = "/leds/led-act";
        __overlay__ {
            linux,default-trigger = "none";
        };
    };

    fragment@301 {
        target = <&leds>;
        __overlay__ {
            led-status-green {
                label = "green:status";
                gpios = <&gpio 24 0>;
                linux,default-trigger = "actpwr";
            };
            led-status-orange {
                label = "orange:status";
                gpios = <&gpio 25 0>;
            };
            led-status-red {
                label = "red:status";
                gpios = <&gpio 26 0>;
                linux,default-trigger = "mmc0";
            };
            led-status-blue {
                label = "blue:status";
                gpios = <&gpio 27 0>;
                linux,default-trigger = "mmc1";
            };
        };
    };
};
