/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

/* WS281x PWM */
    fragment@100 {
        target = <&gpio>;
        __overlay__ {
            pwm_pins: pwm_pins {
                brcm,pins = <12 13>;
                brcm,function = <4 4>; /* Alt0 */
            };
        };
    };

    fragment@101 {
        target = <&pwm>;
        __overlay__ {
            pinctrl-names = "default";
            pinctrl-0 = <&pwm_pins>;
            assigned-clock-rates = <100000000>;
            status = "okay";
        };
    };

    fragment@102 {
        target-path = "/";
        __overlay__ {
            ws281x-transmitter {
                compatible = "leds,ws281x";
                pwms = <&pwm 0 100>;
            };
        };
    };

/* SPI 0 */
    fragment@110 {
        target = <&spi>;
        __overlay__ {
            status = "okay";
        };
    };

/* SPI 1 */
    fragment@120 {
        target = <&gpio>;
        __overlay__ {
            spi1_pins: spi1_pins_ws281x {
                brcm,pins = <20>;
                brcm,function = <3>; /* Alt4 */
            };
            spi1_cs_pins: spi1_cs_pins_ws281x {
                brcm,pins = <16 17>;
                brcm,function = <1>; /* Output */
            };
        };
    };

    fragment@121 {
        target = <&spi1>;
        __overlay__ {
            /* needed to avoid dtc warning */
            #address-cells = <1>;
            #size-cells = <0>;
            pinctrl-names = "default";
            pinctrl-0 = <&spi1_pins &spi1_cs_pins>;
            cs-gpios = <&gpio 17 1>, <&gpio 16 1>;
            status = "okay";

            spidev@0{
                compatible = "spidev";
                reg = <0>;    /* CE0 */
                #address-cells = <1>;
                #size-cells = <0>;
                spi-max-frequency = <125000000>;
                status = "okay";
            };

            spidev@1{
                compatible = "spidev";
                reg = <1>;    /* CE1 */
                #address-cells = <1>;
                #size-cells = <0>;
                spi-max-frequency = <125000000>;
                status = "okay";
            };
        };
    };

/* I2C */
    fragment@130 {
        target = <&i2c1>;
        __overlay__ {
            status = "okay";
        };
    };

/* I2C RTC */
    fragment@200 {
        target = <&i2c1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            ds3231@68 {
                compatible = "maxim,ds3231";
                reg = <0x68>;
            };
        };
    };

/* LEDs */
    fragment@300 {
        target-path = "/leds/led-act";
        __overlay__ {
            linux,default-trigger = "none";
        };
    };

    fragment@301 {
        target = <&leds>;
        __overlay__ {
            led-status-green {
                label = "green:status";
                gpios = <&gpio 24 0>;
                linux,default-trigger = "actpwr";
            };
            led-status-orange {
                label = "orange:status";
                gpios = <&gpio 25 0>;
            };
            led-status-red {
                label = "red:status";
                gpios = <&gpio 26 0>;
                linux,default-trigger = "mmc0";
            };
            led-status-blue {
                label = "blue:status";
                gpios = <&gpio 27 0>;
                linux,default-trigger = "mmc1";
            };
        };
    };
};
